.list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
    row-gap: 32px;

    padding: 24px 16px 40px;
    margin: 0;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scroll {
    max-height: 750px;
    overflow-y: scroll;
}